.start-page {
  margin-top: 10rem;
}

.question-section {
  margin-top: 10rem;
}

.score-section {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  flex-wrap: wrap;
}

.restart {
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  border: 0.2rem solid #202020;
  border-radius: 0.5rem;

  font-weight: 700;
  font-size: 0.7rem;
  transition: 0.3s;
  cursor: pointer;

  flex-direction: row;
}

.grade-select {
  display: flex;
  justify-content: center;
  
  margin-top: 3rem;
}

.grade-button {
  margin: 2rem;
  height: 2rem;
  width: 8rem;
  background-color: rgb(66, 188, 245);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.grade-button:hover {
  background-color: rgb(66, 149, 245);
}

.line {
  width: 100%;
}
