.home {
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-right: 15vw;
    margin-left: 15vw;
}

.box {
    height: 5rem;
    width: 10rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
    border: 0.2rem solid #202020;
    border-radius: 0.5rem;

    font-weight: 700;
    font-size: 0.7rem;
    transition: 0.3s;
    cursor: pointer;

    flex-direction: row;
}

.a {
    /*background-color: blue;*/
    background-color: rgb(78, 178, 255);
}

.b {
    /*background-color: orange;*/
    background-color: rgb(255, 228, 107);
}

.c {
    /*background-color: red;*/
    background-color: rgb(250, 163, 182);
}

.d {
    /*background-color: green;*/
    background-color: rgb(136, 255, 162);
}

.e {
    background-color: purple;
}

.f {
    background-color: yellow;
}

.break {
    flex-basis: 100%;
    height: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgba(105, 105, 105, 0.918);
}